employee/employee
frontend/frontend
frontend/node_modules
frontend/package-lock.json
attendance/attendance
salary/salary
gateway/target/*
config.yaml
frontend/build
attendance/Dockerfile
docker-compose.yaml
elasticsearch/Dockerfile
frontend/Dockerfile
gateway/Dockerfile
employee/Dockerfile
mysql/Dockerfile
salary/Dockerfile
webserver/Dockerfile
